model:
  backbone:
    config: mit_b1
    stride:
    - 4
    - 2
    - 2
    - 1
  # label_feature_path: E:\NghienCuu_WSSS\VILA_PBIP\features\image_features\bcss_label_fea_pro_3333.pkl
  n_ratio: 0.5
  num_prototypes_per_class: 10
  prototype_feature_dim: 512
  l_fea_path: E:\NghienCuu_WSSS\VILA_PBIP\features\image_features\bcss_label_fea_pro_3333.pkl

  
  text_prompt:
    # - "A WSI of Tumor with visually descriptive characteristics of irregularly shaped regions, dense cellularity, heterogeneous staining, and distortion of adjacent structures due to growth, as well as atypical cells, enlarged nuclei, prominent nucleoli, high nuclear-to-cytoplasmic ratio, and mitotic figures."
    # - "A WSI of Stroma with visually descriptive characteristics of fibrous connective tissue, lighter staining, low cellular density, and surrounding or infiltrating tumor areas, as well as elongated fibroblasts, collagen bundles, eosinophilic matrix, blood vessels, and occasional inflammatory cells."
    # - "A WSI of Lymphocyte with visually descriptive characteristics of small dark clusters or infiltrates, often at tumor-stroma interfaces, appearing as speckled blue-purple areas, as well as small round cells, hyperchromatic nuclei, scant cytoplasm, and clustering in immune responses."
    # - "A WSI of Necrosis with visually descriptive characteristics of pale amorphous zones, loss of structure, hypoeosinophilic appearance, and contrast with viable tissue, as well as cellular debris, karyorrhectic nuclei, cytoplasmic remnants, and infiltration by inflammatory cells."
    - "A WSI of Tumor with irregular shapes, dense cellularity, and heterogeneous staining."
    - "A WSI of Stroma with fibrous tissue and low cellularity."
    - "A WSI of Lymphocyte with small dark clusters and speckled appearance."
    - "A WSI of Necrosis with pale amorphous zones and loss of structure."
  prototype_number: 3  # Số lượng prototype
  # k_list: [1]  # or [2, 2, 2, 2] for 4 classes with 2 subclasses each
  k_list: [1, 1, 1, 1]

dataset:
  name: bcss
  root_dir: D:\NghienCuu\NghienCuuPaper\Source_Code\data\data_BCSS-WSSS\BCSS-WSSS  
  train_root: D:\NghienCuu\NghienCuuPaper\Source_Code\data\data_BCSS-WSSS\BCSS-WSSS\training
  val_root: D:\NghienCuu\NghienCuuPaper\Source_Code\data\data_BCSS-WSSS\BCSS-WSSS\val
  mask_name: mask
  cls_num_classes: 4
  input_size:
  - 224
  - 224
work_dir:
  ckpt_dir: E:\NghienCuu_WSSS\Results\checkpoints
  pred_dir: E:\NghienCuu_WSSS\Results\predictions
  train_log_dir: E:\NghienCuu_WSSS\Results\train_log
train:
  samples_per_gpu: 10
  max_epochs: 1
  warmup_iters: 4000
  pretrained: true
  l1: 0.0
  l2: 0.1
  l3: 1.0
  l4: 1.0
  l5: 0.1
  lambda_j: 0.25 # Weight for the prototype diversity loss
  mask_adapter_alpha: 0.5
  merge_train: mean
  merge_test: max
optimizer:
  type: AdamW
  learning_rate: 0.00005
  betas:
  - 0.9
  - 0.999
  weight_decay: 0.001
scheduler:
  warmup_iter: 0
  warmup_ratio: 1.0e-06
  power: 1.0

